body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.container {
  background: #55b3c3;
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
}

.temperature-text-wrapper {
  color: #b3ebf0;
  margin-top: 20px;
}

h1,
h3,
h4 {
  margin: 5px 0;
  text-align: center;
  line-height: 1.2;
  text-transform: capitalize;
}

h1 {
  font-size: 30px;
  color: #b3ebf0;
}

h3 {
  font-size: 25px;
}

h4 {
  height: 20px;
}

.change-city-text {
  color: #b3ebf0;
  text-align: center;
}

.city-input {
  background-color: #b3ebf0;
  border: 1px #b3ebf0 solid;
  border-radius: 20px;
  text-align: center;
}

.city-input::placeholder {
  color: #000000;
}

.day-weather-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 150px 100px;
  margin: 0 auto;
  max-width: 450px;
  margin-bottom: 10px;
}

.temperature-div {
  align-self: center;
  grid-column: 2 / 4;
  grid-row: 1;
  margin-bottom: 10px;
  margin-left: 10px;
}

h2 {
  color: #b3ebf0;
  font-size: 75px;
}

.current-location {
  text-decoration: none;
  color: #ffc303;
  border-radius: 20px;
  font-size: 15px;
}

.temp-measurement-celcius {
  align-self: center;
  grid-column: 5 / 6;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 20px;
}

.temp-measurement-fahren {
  align-self: end;
  grid-column: 5 / 6;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 45px;
}

.celcius-temp,
.fahren-temp {
  color: #b3ebf0;
  text-decoration: none;
}

.main-weather-emoji-div {
  grid-column: 6 / 9;
  grid-row: 1;
  align-self: end;
  margin-right: 0px;
}

.main-weather-emoji {
  width: 130px;
  justify-self: center;
  justify-content: right;
}

.day-weather {
  background: #b3ebf0;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 10px;
  grid-column: span 2;
  grid-row: 2;
  height: 100px;
  justify-self: center;
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-emojis {
  width: 50px;
  padding: 5px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

@media (max-width: 770px) {
  footer {
    font-size: 15px;
  }
  .day-weather {
    margin-top: 0;
  }
}

@media (max-width: 380px) {
  .weather-emojis {
    width: 44px;
  }
  .day-temperatures {
    font-size: 10px;
  }
  .day-weather-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 430px) {
  footer {
    font-size: 2px;
  }
  .day-weather {
    margin-top: 0;
  }
}

@media (max-width: 430px) {
  footer {
    font-size: 10px;
  }
}

@media (max-height: 545px) {
  footer {
    height: 1rem;
    margin-bottom: 12px;
  }
}
